.GridButton {
    /* celeste: #0d6efd  gris: ##6c757d*/
    background-color: #c4c4c4;
    padding-bottom: 1%;
}
.row{
    padding: 1%;
    background-color: #3f3f3f;
}
.col-4 .col-2{
    background-color: #3f3f3f;
}
